node_modules/




npm-debug.log

.gradle/
build/
classes/
node_modules/

*.classpath
*.project
*.settings/


.idea/
*.iml
target/
*.pem

.gradle/
build/
node_modules/
/bin/

.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.vscode/launch.json
.vscode/settings.json
